# This unit should be copied to `/etc/systemd/system'

# Once that has been done, the bot may be run by means of:
# `systemctl start easy-pete-bot'

# If the bot is intended to run from anywhere other than `/srv/easy_pete_bot',
# that should be changed here wherever it appears

[Unit]
Description=Easy Pete Bot
DefaultDependencies=python3
Conflicts=shutdown.target
Requires=network-online.target
After=network-online.target
Before=shutdown.target

[Service]
Type=simple
User=www-data
ExecStart=/usr/bin/python3 -u /srv/easy_pete_bot/bot.py
StandardOutput=journal+console
StandardError=journal+console
SyslogIdentifier=easy-pete-bot

[Install]
WantedBy=network-online.target
